.womenTalking {
  display: flex;
  justify-content: right;
  
}

.btns {
  border: solid white 10px;
  border-radius: 10px;
}

.hero .subtitle{
  color: grey;
  font-size: 24px;
}

.hero .title{
  
}
