.hero .womenTalking {
  flex-basis: 50%;
}

.hero .womenTalking img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-and-image-container.active{
  display: flex;
}

.text-and-image-container{
  display: none;
}

@media (max-width:1200px){
  .text-and-image-container{
    flex-direction: column;
  }
}

.btn {
  border: solid grey 0px;
  border-radius: 51%;
  background-color: grey;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.btn.active{
  background-color: cyan;
}

.btns {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.hero .hero-text {
  flex-basis: 50%;
}

.hero-text .title {
  font-size: 40px;
  font-weight: lighter;
  position: relative;
  top: 70px;
}

.hero-text .subtitle {
  color: grey;
  font-weight: lighter;
  position: relative;
  top: 90px;
}

.item {
  color: white;
  font-weight: lighter;
}

.num {
  color: grey;
  margin-right: 15px;
}

.spans {
  margin: 0 auto;
}

.hero .information {
  position: relative;
  top: 50px;
}

/**@media (max-width:1200px) {

  .html, body, .container {
    max-width: 1200px;
    height: 1368px;
    padding: 0;
    display: grid 1fr;
    justify-content: center;
  }

  .hero .womenTalking{
    margin: 0 auto;
  }

  .hero .hero-text{
    top: 120px;
    margin: 0 auto;
    text-align: center;
    width: 480px;

  }
  .img{
    width: 480px;
    margin: 0 auto;

  }

  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    
  }
}
**/
