.container{
  background-image:url(https://images.unsplash.com/photo-1502536541587-63583bc9a2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) ;
}

.hero .hero-text{
  position: absolute;
  top: 30%;
  left: 25%;
  width: 650px;
  width: 480px;
}

.hero-text .title{
  font-size: 40px;
  font-weight: lighter;
  position: relative;
  top: 70px;
}

.hero-text .subtitle{
  color: whitesmoke;
  font-weight: lighter;
  position: relative;
  top: 100px;
  font-size: small;
 
}

.hero .information{
  position: relative;
  top: 40px;
}

.rocket{
  position: absolute;
  right: 1%;
  top: 30%;
}

.hero .btns-technology{
  position: absolute;
  top: 25%;
  left: 16%;
}

.btnT1, .btnT2, .btnT3{
  border: solid grey 1.5px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 10px;
  position: relative;
  display: grid;
  margin-top: 60px;
  width: 60px ;
  height: 60px;
  
  color: white;
  text-align: center;
  font-size: 24px;
}

.slidernum{
  position: relative;
  top: 25%;
}

.all{
  display: block;
}

.btnT1{
  border-block-color: cyan;
}